
  .header {
    text-align:center;
    background: #00BCD4;
    color: #fff;
  }
  
/* ========== Action ===========*/
  .header .top-bar {
    position: relative;
    padding-top: 30px;
    padding-bottom: 120px;
  }

  .header .actions {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .actions .actionBtn {
    background: #008fa1;
    color: #fff;
    padding: 8px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    margin-right: 10px;
  }
  .actions .actionBtn:hover {
    color: #fff;
    background: #00a5bb;
  }

  .actions .actionBtn:active {
    background-color: #007888;
  }



/* ========== Intro ===========*/
  .header .profile-image {
    position: relative;
    width: 160px;
    height: 160px;
    top: -80px;
    margin:0 auto;
  }
  .header .name {
    position: relative;
    font-size: 48px;
    letter-spacing: 0.5px;
    margin:0 auto;
  }
  .header .title {
    position: relative;
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    margin:0 auto;
  }
  .header .intro {
    position: relative;
    background: #00a5bb;
    padding-top: 10x;
    padding-bottom: 60px;
    font-size: 16px;
    margin:0 auto;
  }
  .header .profile {
    max-width: 800px;
    margin: 0 auto;
  }

 /*============ Contact Info ==========*/
  .header .contact-info {
    background: #008fa1;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    text-align:center;
  }
  .header .contact-info ul {
    display: inline-block;
  }
  .header .contact-info li {
    list-style: none;
    float: left;
    font-size: 20px;
  }
  .header .contact-info li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  .header .contact-info li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .header .contact-info li {
    margin-right: 50px;
  }



    /*======== Page Nav ============*/

      .page-nav-wrapper{
        background: #007888;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        width: 100%;
        left: 0;
        font-size: 16px;
      }

      .page-nav-wrapper.fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: #00BCD4;
      }

      .page-nav-wrapper a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-weight: 500;
      }
      .page-nav-wrapper .page-nav {
        margin: 0 auto;
      }
      .page-nav-wrapper .page-nav li {
        margin-right: 50px;
        list-style: none;
        display: inline-block;
      }

      .page-nav-wrapper .page-nav li a:hover {
        color: #fff;
      }


  
      /* ============Section============ */
      .wrapper {
        padding-top: 150px;
        padding-bottom: 50px;
      }
      .section {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        padding: 60px;
        background: #fff;
        margin-bottom: 45px;
        margin-left: 20%;
        margin-right: 20%;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
      .section:last-child {
        margin-bottom: 0;
      }
      .section-title {
        margin-top: 0;
        margin-bottom: 45px;
        font-size: 30px;
        text-align: center;
      }



        /* =========== TimeLine =================*/
      .timeline {
        border-left: 3px solid #00BCD4;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        position: relative;
        padding: 0 30px;
        margin-left: 280px;
      }

      .timeline .item {
        position: relative;
        margin-bottom: 45px;
      }
      .timeline .item:last-child {
        margin-bottom: 0;
      }
      .timeline .item:before {
        content: "";
        position: absolute;
        left: -45px;
        top: 0px;
        display: inline-block;
        width: 22px;
        height: 22px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #fff;
        border: 3px solid #00BCD4;
      }
      .timeline .item:after {
        content: "";
        position: absolute;
        left: -37px;
        top: 6px;
        display: inline-block;
        width: 13px;
        height: 13px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #00BCD4;
        z-index: 10;
      }
      .timeline .work-place {
        position: relative;
      }
      .timeline .location {
        position: absolute;
        right: 0;
        top: 2px;
        color: #8a8a8a;
        font-size: 17px;
      }
      .timeline .location .fa {
        margin-right: 5px;
      }
      .timeline .place {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: 300;
      }
      .timeline .job-meta {
        position: absolute;
        left: -280px;
        top: 0;
      }
      .timeline .job-meta .title {
        font-size: 21px;
        font-weight: 200;
        color: #00BCD4;
      }
      .timeline .job-meta .time {
        font-size: 18px;
        font-weight: 200;
        color: #8a8a8a;
      }
      .timeline .job-desc {
        font-size: 18px;
        font-weight: 200;
        color: #666;
      }


      /* ============== Education =================*/
    
      .education-section .row {
        display: flex;
      }

      .education-section .item {
        margin-bottom: 45px;
        display: inline-block;
      }
      .education-section .item-inner {
        padding: 0 30px;
      }
      .education-section .degree {
        font-size: 18px;
        color: #00BCD4;
        margin-top: 0;
        margin-bottom: 0px;
      }
      .education-section .education-body {
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 300;
      }
      .education-section .time {
        color: #8a8a8a;
        margin-bottom: 15px;
      }
      .education-section .desc {
        color: #666;
      }

      /*=========== SKill ===============*/

    
      .skills-section {
        text-align: center;
      }
      .skills-section .subtitle {
        font-size: 18px;
        color: #8a8a8a;
        margin-top: 0;
        margin-bottom: 45px;
        font-weight: 300;

      } 

      .skills-section .top-skills {
        margin-bottom: 60px;
      }

      .skills-section .row {
        display: flex;
      }

      .skills-section .top-skills .item {
        margin-bottom: 45px;
        display: inline-block;
      }
      .skills-section .level {
        color: #8a8a8a;
        margin-bottom: 15px;
      }
      .skills-section .desc {
        color: #666;
      }
      .skills-section .skill-tag {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        padding: 6px 30px;
        display: inline-block;
        margin-right: 10px;
        border: 1px solid #666;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 16px;
      }

      .chart-easy-pie {
        positon: relative;
      }
      .chart {
        width: 110px;
        height: 110px;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
      }
      .chart span {
        line-height: 110px;
      }
      .chart canvas {
        position: absolute;
        left: 0;
        top: 0;
      }
      
    /*=========== Project ============*/

    .portfolio-section .filters {
        list-style: none;
        margin: 0 auto;
        margin-bottom: 60px;
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
      }
      .portfolio-section .filters .type {
        margin-right: 30px;
        list-style: none;
        display: inline-block;
        padding: 8px 15px;
        color: #8a8a8a;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
      }
      .portfolio-section .filters .type:last-child {
        margin-right: 0;
      }
      .portfolio-section .filters .type.active {
        color: #00BCD4;
        border-bottom: 2px solid #00BCD4;
      }

      .portfolio-section .row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
      }

      .portfolio-section .item {
        margin-bottom: 30px;  
        margin-right: 20px;
      }
      
      .portfolio-section .item-inner {
        background: #00BCD4;
        color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position: relative;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      }

      .portfolio-section .figure {
        position: relative;
        padding-bottom: 50%;
        width: 100%;
        left: -40px;
    
      }

      .portfolio-section .img-responsive{
        width: 100%;
        position: absolute;
      }

      .portfolio-section .item-inner:hover {
        background: #00c5de;
      }
      .portfolio-section .item-inner:hover img {
        -webkit-opacity: 0.9;
        -moz-opacity: 0.9;
        opacity: 0.9;
        
      }

      .portfolio-section .item-inner .content {
        padding: 30px;
        padding-bottom: 75px;
        position: relative;
      }
      .portfolio-section .item-inner .content a {
        color: #fff;
      }
      .portfolio-section .item-inner .content .sub-title {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      .portfolio-section .item-inner .content .meta {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
      }
      .portfolio-section .item-inner .content .action {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }



      /* ======== Contact ===========*/


      .contact-section .intro {
        position: relative;
        padding: 30px;
        padding-left: 190px;
        font-size: 16px;
        color: #666;
      }
      .contact-section .intro .profile-image {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 30px;
      }
      .contact-section .intro p {
        margin-bottom: 15px;
      }
      .contact-section .service-list {
        margin-left: 30px;
        margin-bottom: 15px;
      }
      .contact-section .service-list li {
        margin-bottom: 15px;
      }
      .contact-section .service-list .fa {
        color: #00BCD4;
      }

      .contact-section .social {
        margin-bottom: 0;
      }
      .contact-section .social li {
        margin-right: 10px;;
      }
      .contact-section .social a {
        color: #8a8a8a;
      }
      .contact-section .social a:hover {
        color: #00BCD4;
      }
      .contact-section ul .social {
        display: flex;
      }
      .contact-section .social li{
        display: inline-flex;
        list-style: none;
      }
      .contact-section .social .icon {
        
      }


    /* ========= Footer ==========*/

    .footer .container {
        padding: 30px;
        color: #8a8a8a;
        letter-spacing: 0.5px;
        text-align: center;
      }
      .footer .container a {
        color: #8a8a8a;
      }